---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - solrcollections.solr.sis.uw.edu
  resources:
  - solrcollectionsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - solrcollections.solr.sis.uw.edu
  resources:
  - solrcollectionsets/finalizers
  verbs:
  - update
- apiGroups:
  - solrcollections.solr.sis.uw.edu
  resources:
  - solrcollectionsets/status
  verbs:
  - get
  - patch
  - update
