apiVersion: v1
kind: ServiceAccount
metadata:
    labels:
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        app.kubernetes.io/name: solr-collections-operator
    name: solr-collections-operator-controller-manager
    namespace: {{ .Release.Namespace }}
