apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
    name: solr-collections-operator-manager-role
rules:
    - apiGroups:
        - ""
      resources:
        - configmaps
        - secrets
      verbs:
        - get
        - list
        - watch
    - apiGroups:
        - ""
      resources:
        - events
      verbs:
        - create
        - patch
    - apiGroups:
        - solrcollections.solr.sis.uw.edu
      resources:
        - solrcollectionsets
      verbs:
        - create
        - delete
        - get
        - list
        - patch
        - update
        - watch
    - apiGroups:
        - solrcollections.solr.sis.uw.edu
      resources:
        - solrcollectionsets/finalizers
      verbs:
        - update
    - apiGroups:
        - solrcollections.solr.sis.uw.edu
      resources:
        - solrcollectionsets/status
      verbs:
        - get
        - patch
        - update
