name: Tests

on:
  push:
    branches:
      - development
      - evaluation
      - patch
      - master

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v4

      - name: Run linter
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5.0

      - name: Install Kubebuilder
        run: |
          KUBEBUILDER_VERSION=4.10.1
          curl -L -o kubebuilder.tar.gz "https://go.kubebuilder.io/dl/${KUBEBUILDER_VERSION}/linux/amd64"
          tar -zxvf kubebuilder.tar.gz
          sudo mv kubebuilder /usr/local/kubebuilder
          sudo ln -s /usr/local/kubebuilder/bin/* /usr/local/bin/

      - name: Verify installation
        run: kubebuilder version

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Running Tests
        run: |
          go mod tidy
          make test