apiVersion: apps/v1
kind: Deployment
metadata:
    labels:
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        app.kubernetes.io/name: solr-collections-operator
        control-plane: controller-manager
    name: solr-collections-operator-controller-manager
    namespace: {{ .Release.Namespace }}
spec:
    replicas: 1
    selector:
        matchLabels:
            app.kubernetes.io/name: solr-collections-operator
            control-plane: controller-manager
    template:
        metadata:
            annotations:
                prometheus.io/scrape: "true"
                kubectl.kubernetes.io/default-container: manager
                {{- if .Values.manager.annotations }}
                {{- toYaml .Values.manager.annotations | nindent 16 }}
                {{- end }}
            labels:
                app.kubernetes.io/name: solr-collections-operator
                control-plane: controller-manager
                {{- if .Values.manager.labels }}
                {{- toYaml .Values.manager.labels | nindent 16 }}
                {{- end }}
        spec:
            containers:
                - args:
                    {{- if .Values.metrics.enable }}
                    - --metrics-bind-address=:{{ .Values.metrics.port }}
                    {{- else }}
                    # Bind to :0 to disable the controller-runtime managed metrics server
                    - --metrics-bind-address=0
                    {{- end }}
                    - --health-probe-bind-address=:8081
                    {{- range .Values.manager.args }}
                    - {{ . }}
                    {{- end }}
                  command:
                    - /manager
                  image: "{{ .Values.manager.image.repository }}:{{ .Values.manager.image.tag }}"
                  imagePullPolicy: {{ .Values.manager.image.pullPolicy }}
                  livenessProbe:
                    httpGet:
                        path: /healthz
                        port: 8081
                    initialDelaySeconds: 15
                    periodSeconds: 20
                  name: manager
                  ports: []
                  readinessProbe:
                    httpGet:
                        path: /readyz
                        port: 8081
                    initialDelaySeconds: 5
                    periodSeconds: 10
                  resources:
                    {{- if .Values.manager.resources }}
                    {{- toYaml .Values.manager.resources | nindent 20 }}
                    {{- else }}
                    {}
                    {{- end }}
                  securityContext:
                    {{- if .Values.manager.securityContext }}
                    {{- toYaml .Values.manager.securityContext | nindent 20 }}
                    {{- else }}
                    {}
                    {{- end }}
                  volumeMounts: []
            securityContext:
              {{- if .Values.manager.podSecurityContext }}
              {{- toYaml .Values.manager.podSecurityContext | nindent 14 }}
              {{- else }}
              {}
              {{- end }}
            serviceAccountName: solr-collections-operator-controller-manager
            terminationGracePeriodSeconds: 10
            volumes: []
            {{- if .Values.manager.nodeSelector }}
            nodeSelector:
              {{- toYaml .Values.manager.nodeSelector | nindent 14 }}
            {{- end }}
            {{- if .Values.manager.affinity }}
            affinity:
              {{- toYaml .Values.manager.affinity | nindent 14 }}
            {{- end }}
